Source: ts7820-utils
Section: utils
Priority: optional
Maintainer: Mark Featherston <mark@embeddedTS.com>
Build-Depends: debhelper (>= 9), autotools-dev
Standards-Version: 3.9.8
Homepage: https://github.com/embeddedTS/ts7820-utils
#Vcs-Browser: https://github.com/embeddedTS/ts7820-utils
#Vcs-Git: https://github.com/embeddedTS/ts7820-utils.git

Package: ts7820-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: TS-7820 series utilities
  Includes utilities for manipulating IO, reading analog samples, checking onboard versions, and updating the FPGA.
